<%- include('../partials/header', { title: title, genres: genres }) %>

<h2><%= title %></h2>

<ul>
  <% movies.forEach(movie => { %>
    <li>
      <% if (movie.genre) { %>
        <a href="/movies/<%= movie.genre %>/<%= movie.id %>"><%= movie.title %></a>
      <% } else { %>
        <span><%= movie.title %></span>
      <% } %>
    </li>
  <% }) %>
</ul>

<div class="pagination">
  <% if (currentPage > 1) { %>
    <a href="<%= genre ? '/movies/' + genre + '?page=' + (currentPage - 1) : '/movies?page=' + (currentPage - 1) %>">Previous</a>
  <% } %>

  <% for (let i = 1; i <= totalPages; i++) { %>
    <% if (i === currentPage) { %>
      <strong><%= i %></strong>
    <% } else { %>
      <a href="<%= genre ? '/movies/' + genre + '?page=' + i : '/movies?page=' + i %>"><%= i %></a>
    <% } %>
  <% } %>

  <% if (currentPage < totalPages) { %>
    <a href="<%= genre ? '/movies/' + genre + '?page=' + (currentPage + 1) : '/movies?page=' + (currentPage + 1) %>">Next</a>
  <% } %>
</div>

<p>
  <a href="<%= genre ? '/movies/' + genre : '/movies' %>">
    Back to <%= genre ? genre.charAt(0).toUpperCase() + genre.slice(1) : 'All Movies' %>
  </a>
</p>

<%- include('../partials/footer') %>