<%- include('../partials/header', { title: movie.title, genres: genres }) %>


<div class="movie-details single-movie">
  <% if (movie) { %>
    <h2><%= movie.title %></h2>

    <% if (movie.posterURL) { %>
      <img src="<%= movie.posterURL %>" alt="<%= movie.title %> poster" style="max-width:300px;">
    <% } %>

    <p><strong>ID:</strong> <%= movie.id %></p>

    <% if (movie.imdbId) { %>
      <p><strong>IMDB ID:</strong> <%= movie.imdbId %></p>
      <p><a href="https://www.imdb.com/title/<%= movie.imdbId %>" target="_blank">View on IMDb</a></p>
    <% } %>

  <% } else { %>
    <p>No movie data available.</p>
  <% } %>

  <p>
    <a href="/movies/<%= genre %>">Back to <%= genre.charAt(0).toUpperCase() + genre.slice(1) %> Movies</a>
  </p>
</div>

<%- include('../partials/footer') %>